body {
    font-family: Outfit, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

$firstColor: #fff;
$secondColor: #000;
$firstFontSize: 14px;
$fontFamily: 'Outfit', sans-serif;