body {
    font-family: Outfit, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


$firstColor: #fff;
$secondColor: #000;
$firstFontSize: 14px;



// ----- Header section ----- //
header {
    background: rgb(22, 20, 80);
    background: radial-gradient(circle, rgba(22, 20, 80, 1) 18%, rgba(0, 0, 0, 1) 69%);
    border-bottom: 1px solid #838383;

    .navbar-left {
        position: relative;

        .title {
            color: $firstColor;
            font-size: 15px;
        }

        .dropdown {
            background-color: $firstColor;
            padding: 20px;
            position: absolute;
            visibility: hidden;
            transition: .2s;

            a {
                color: $secondColor;
                font-size: 14px;

                &:hover {
                    border-bottom: 1px solid $secondColor;
                }
            }
        }

        .two {
            width: 200px;
        }

        .three {
            width: 140px;
        }

        li:hover .dropdown {
            visibility: visible;

        }
    }

    .navbar-right * {
        color: $firstColor;
    }

    .navbar-right {
        position: relative;

        .cart {
            font-size: 14px;
        }

        .dropdown {
            background-color: $firstColor;
            padding: 20px;
            visibility: hidden;
            transition: .2s;

            a {
                color: $secondColor;
                font-size: 14px;

                &:hover {
                    border-bottom: 1px solid $secondColor;
                }
            }
        }

        .one {
            position: absolute;
            left: -90px;
        }

        .two {
            position: absolute;
            left: -10px;
        }

        li:hover .dropdown {
            visibility: visible;
        }
    }

    .menu {
        position: absolute;
        right: 0;

        .open-btn {
            display: none;
            color: $firstColor;
        }

        .offcanvas-menu {
            z-index: 1;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh !important;
            transform: translate(100%);
            transition: .5s;

            .open {
                transform: translateX(0);
            }

            .heading {
                background: rgb(22, 20, 80);
                background: radial-gradient(circle, rgba(22, 20, 80, 1) 18%, rgba(0, 0, 0, 1) 69%);

                .close-btn {
                    color: $firstColor;
                }
            }

            .body {
                .accordion-item .accordion-body {
                    transform: translate(-30px);

                    a {
                        color: $secondColor;
                        font-size: 15px;

                        &:hover {
                            border-bottom: 1px solid $secondColor;
                        }
                    }
                }

                .action {
                    background-color: $firstColor;
                    flex-wrap: wrap;

                    svg path {
                        fill: $secondColor;
                    }

                    .dropdown {
                        background-color: $firstColor;
                        padding: 20px;
                        position: absolute;
                        visibility: hidden;
                        transition: .2s;

                        a {
                            color: $secondColor;
                            font-size: 14px;

                            &:hover {
                                border-bottom: 1px solid $secondColor;
                            }
                        }
                    }

                    li:hover .dropdown {
                        visibility: visible;
                    }
                }
            }
        }
    }
}


.header-bottom {
    background: rgb(22, 20, 80);
    background: radial-gradient(circle, rgba(22, 20, 80, 1) 18%, rgba(0, 0, 0, 1) 69%);
    border-bottom: 1px solid #838383;

    .left {
        a {
            color: $firstColor;
            font-size: 14px;
            letter-spacing: 1px;

            span {
                text-decoration: underline;
            }
        }
    }

    .search {
        .input-group {
            input {
                width: 350px;
                outline: none;
                border: 1px solid #838383;
                color: #838383;
                border-radius: 0 20px 0 20px;
                background: none;
                border-left: none;

                &::placeholder {
                    font-size: 13px;
                }
            }

            span {
                border-radius: 0 20px 0 20px;
                background: none;
                border: 1px solid #838383;
                border-right: none; 

                i {
                    color: #838383;
                }
            }

        }
    }

    .right{
        a{
            color: $firstColor;
            font-size: $firstFontSize;
        }
    }
}


@media(max-width:992px) {
    header nav .navbar-left {
        display: none !important;
    }

    header nav .navbar-right {
        margin-right: 20px;
    }

    header .menu .open-btn {
        display: block !important;
    }
}

@media(max-width:576px) {
    header nav .navbar-right {
        display: none !important;
    }

    .header-bottom{
        visibility: hidden !important;
    }
}

@media(max-width:768px) {
    header nav .navbar-right .cart {
        display: none !important;
    }

    .header-bottom{
        display: none;
    }
}



// ----- Header section ----- //

// ----- Footer section ----- //
.footer {
    background-color: $secondColor;
}

footer {
    .left {
        color: $firstColor;

        h3 {
            font-size: 26px;
        }

        h3 b {
            background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
            background-clip: text;
            color: transparent;
        }

        p {
            font-size: $firstFontSize;
            letter-spacing: .3px;
        }
    }

    .center * {
        color: $firstColor;
        font-size: $firstFontSize;

        h4 {
            letter-spacing: 1px;
        }

        a {
            color: $firstColor !important;
            font-size: $firstFontSize !important;
            transition: .4s;

            &:hover {
                opacity: .3;
            }
        }
    }

    .right {
        color: $firstColor;

        h4 {
            font-size: $firstFontSize;
            letter-spacing: 1px;
        }

        a {
            background-color: $firstColor;

            &:hover {
                background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
            }
        }

        i {
            color: $secondColor;
        }
    }
}

.footer-bottom {
    background-color: $secondColor;

    p {
        color: $firstColor;
        font-size: $firstFontSize;
    }
}