.cartpage {
    .heading {

        .icon {
            color: $darkColor;
        }

        span {
            font-size: $firstFontSize;
            letter-spacing: .6px;
            color: $darkColor;
        }
    }
}