// ----- Header section ----- //
header {
    background: $darkColor;
    border-bottom: 1px solid $grayColor;

    .navbar-left {
        position: relative;

        .title {
            color: $lightColor;
            font-size: 15px;
        }

        .dropdown {
            background-color: $lightColor;
            padding: 20px;
            position: absolute;
            visibility: hidden;
            transition: .2s;

            a {
                color: $darkColor;
                font-size: 14px;

                &:hover {
                    border-bottom: 1px solid $darkColor;
                }
            }
        }

        .two {
            width: 200px;
        }

        .three {
            width: 140px;
        }

        li:hover .dropdown {
            visibility: visible;

        }
    }

    .navbar-right * {
        color: $lightColor;
    }

    .navbar-right {
        position: relative;

        .search {
            button {
                background-color: $darkColor;
                font-size: 20px;
            }

            .modal-content {
                .modal-title {
                    color: $darkColor;
                    font-size: 24px;
                }

                .btn-close {
                    background-color: $lightColor;
                }

                .list-group {
                    height: 66vh;
                    overflow: auto;
                }

                .list-group-item {
                    .content {
                        h5 {
                            color: $grayColor;
                        }

                        .description {
                            color: $grayColor;
                            font-size: 11px;
                        }

                        .type i {
                            color: $grayColor;
                            font-size: 11px;
                        }

                        .price {
                            color: $grayColor;

                            sup {
                                color: $grayColor;

                            }
                        }
                    }
                }
            }
        }

        .cart {
            font-size: $firstFontSize;
        }

        .dropdown {
            background-color: $lightColor;
            padding: 20px;
            visibility: hidden;
            transition: .2s;

            a {
                color: $darkColor;
                font-size: $firstFontSize;

                &:hover {
                    border-bottom: 1px solid $darkColor;
                }
            }
        }

        .one {
            position: absolute;
            left: -50px;
        }

        .two {
            position: absolute;
            left: -100px;
        }

        li:hover .dropdown {
            visibility: visible;
        }
    }

    .menu {
        position: absolute;
        right: 0;

        .open-btn {
            display: none;
            color: $lightColor;
        }

        .offcanvas-menu {
            z-index: 1;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh !important;
            transform: translate(100%);
            transition: .5s;

            .open {
                transform: translateX(0);
            }

            .heading {
                background: $backgroundColor;

                .close-btn {
                    color: $lightColor;
                }
            }

            .body {
                .accordion-item .accordion-body {
                    transform: translate(-30px);

                    a {
                        color: $darkColor;
                        font-size: 15px;

                        &:hover {
                            border-bottom: 1px solid $darkColor;
                        }
                    }
                }

                .action {
                    background-color: $lightColor;
                    flex-wrap: wrap;

                    svg path {
                        fill: $darkColor;
                    }

                    .dropdown {
                        background-color: $lightColor;
                        padding: 20px;
                        position: absolute;
                        visibility: hidden;
                        transition: .2s;

                        a {
                            color: $darkColor;
                            font-size: 14px;

                            &:hover {
                                border-bottom: 1px solid $darkColor;
                            }
                        }
                    }

                    li:hover .dropdown {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    header nav .navbar-left {
        display: none !important;
    }

    header nav .navbar-right {
        margin-right: 20px;
    }

    header .menu .open-btn {
        display: block !important;
    }
}

@media(max-width:576px) {
    header nav .navbar-right {
        display: none !important;
    }
}

@media(max-width:768px) {
    header nav .navbar-right .cart {
        display: none !important;
    }
}

// ----- Header section ----- //

// ----- Footer section ----- //
.footers {
    background-color: $darkColor;
}

footer {
    .left {
        color: $lightColor;

        h3 {
            @include heading;
            font-size: 26px;
        }

        p {
            font-size: $firstFontSize;
            letter-spacing: .3px;
        }
    }

    .center * {
        color: $lightColor;
        font-size: $firstFontSize;

        h4 {
            letter-spacing: 1px;
        }

        a {
            color: $lightColor !important;
            font-size: $firstFontSize !important;
            transition: .4s;

            &:hover {
                opacity: .3;
            }
        }
    }

    .right {
        color: $lightColor;

        h4 {
            font-size: $firstFontSize;
            letter-spacing: 1px;
        }

        a {
            background-color: $lightColor;

            &:hover {
                background: $linearColor;
            }
        }

        i {
            color: $darkColor;
        }
    }
}

.footer-bottom {
    background-color: $darkColor;

    p {
        color: $lightColor;
        font-size: $firstFontSize;
    }
}

// ----- Footer section ----- //