.login {
    color: $grayColor;
    font-size: $firstFontSize;

    .heading {
        h2 {
            color: $darkColor;
            font-size: 41px;
        }
    }

    .login-form {
        border: 1px solid #cccccc;
        width: 50%;
        margin: auto;

        .head {
            border-bottom: 1px solid #cccccc;

            h4 {
                font-size: 16px;
            }
        }

        .form-container {
            border-bottom: 1px solid #cccccc;

            .form-group {

                input {
                    border: 1px solid #cccccc;
                    border-radius: 0 20px;
                    padding: 12px 20px;
                    outline: none;
                }
            }
        }

        .form-footer {

            a, button {
                @include button;
                padding: 10px 40px;
                background: $linearColor;
                border: none;

                &:hover {
                    background: $linearColor;
                }

                svg path {
                    fill: $lightColor;
                }
            }
        }
    }
}

@media(max-width: 992px){
    .login .login-form{
        width: 100%;
    }
}