.hero {
    width: 100%;
    height: auto;
    padding: 20px;
    background: $backgroundColor;
    border-bottom: 1px solid $grayColor;

    .left {
        .heading {
            background-color: #12103e;
            color: $lightColor;
            font-size: $firstFontSize;
            width: 60%;

            span:nth-child(1) {
                background: linear-gradient(90deg, #0098ff 0%, rgba(0, 152, 255, 0) 100%);
            }

            span:nth-child(2) {
                font-size: $firstFontSize - 1px;
                letter-spacing: .8px;
            }
        }

        h2 {
            @include heading;
            font-size: 60px;
        }

        p {
            font-size: $firstFontSize - 1px;
            color: $grayColor;
            letter-spacing: .5px;
        }

        .buttons {

            a {
                @include button;
            }

            .one {
                background: $linearColor;
                border: none;

                &:hover {
                    background: transparent;
                    border: 1px solid $grayColor;
                }
            }

            .two {
                color: $grayColor;

                &:hover {
                    background: $linearColor;
                    color: $lightColor;
                    border: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    .hero img {
        display: none;
    }

    .hero .left .heading {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .hero .left .heading {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .hero .left h2 {
        font-size: 30px;
    }
}


.slider {
    // background-color: $darkColor;
    background: $backgroundColor;


    .heading {
        h2 {
            color: $lightColor;
            font-size: 35px;
        }

        a {
            @include button;
            color: $grayColor;

            &:hover {
                background: $linearColor;
                color: $lightColor;
            }
        }
    }

    .carousel {
        @include carousel;

        .title {
            a {
                color: $lightColor;
            }
        }

        .newprice {
            color: $lightColor;
        }
    }
}


.categories {
    .heading {
        @include heading;

        h2 {
            color: $darkColor;
            font-size: 35px;
            width: 50%;
        }
    }

    .buttons {
        a {
            width: 57%;
            @include button;
            color: $grayColor;
            padding: 10px 33px;
            font-size: 12px;

            button {
                background: transparent;
                color: $grayColor;
            }

            img {
                filter: invert(.5);
            }

            &:active {
                background: $linearColor;
            }
        }
    }

    .carousel {
        @include carousel;
    }
}

@media only screen and (max-width: 768px) {

    .categories {
        .heading {
            h2 {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {

    .categories {
        .buttons {
            a {
                width: 100%;
            }
        }
    }
}


.subscribe {
    span {
        font-size: $firstFontSize;
        background: $linearColor;
        color: $lightColor;
        opacity: 62%;
    }

    h2 {
        @include heading;
        color: $darkColor;
    }

    p {
        color: $grayColor;
        font-size: $firstFontSize;
    }

    .input-group {
        width: 75%;

        input {
            color: $grayColor;
            border: 1px solid $darkColor;
            border-radius: 0 15px;
            outline: none;

            &::placeholder {
                font-size: $secondFontSize;
            }
        }
    }

    button {
        background: $linearColor;
        font-size: $secondFontSize;
        color: $lightColor;
        border-radius: 0 15px;
    }
}

@media only screen and (max-width: 576px) {
    .subscribe {
        h2 {
            font-size: 30px;
        }

        .input-group {
            width: 100%;
        }
    }
}


.about-shop {
    .heading {
        h2 {
            font-size: 35px;
        }

        p {
            font-size: $firstFontSize;
            color: $grayColor;
        }
    }

    .cards {
        .borders {
            border: 1px solid #7b35c8;
            border-radius: 0 17px;
            background: linear-gradient(148deg, #0198ff2e, #0000);

            h2 {
                @include textLinear;
                font-size: 41px;
            }

            h4 {
                font-size: 26px;
            }

            span {
                font-size: $firstFontSize;
                color: $grayColor;
            }
        }
    }
}


.blog-sec {
    background-color: $darkColor;

    .heading {
        h2 {
            font-size: 41px;
            @include textLinear;
        }

        p {
            color: $grayColor;
            font-size: $firstFontSize;
        }

        a {
            @include button;
            color: $grayColor;

            &:hover {
                background: $linearColor;
                color: $lightColor;
                border: none;

                svg path {
                    fill: $lightColor;
                }
            }
        }
    }

    .blog{
        @include blog;
        .blogcard{
            .card-title{
                color: $lightColor;
            }
            .author{
                color: $grayColor;
            }
    
            .card-text{
                display: none
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .blog-sec {
        .heading {
            p {
                display: none;
            }
        }
    }
}

.products {
    .heading {
        h2 {
            font-size: 35px;
        }

        p {
            color: $grayColor;
            font-size: $firstFontSize;
        }

        a {
            @include button;
            color: $grayColor;

            &:hover {
                background: $linearColor;
                color: $lightColor;
                border: none;

                svg path {
                    fill: $lightColor;
                }
            }
        }
    }

    .carousel {
        @include carousel;
    }
}

@media only screen and (max-width: 992px) {
    .products {
        .heading {
            p {
                display: none;
            }
        }
    }
}


.testimonials {
    .heading {
        h2 {
            font-size: 35px;
        }
    }

    .slider-container {
        .cards {
            border: 1px solid #7b35c8;
            border-radius: 0 15px;
            background: linear-gradient(148deg, #0198ff2e, #0000);

            h3 {
                font-size: 24px;
            }

            p {
                font-size: $secondFontSize;
            }

            .content-bottom {
                .info {
                    h6 {
                        font-size: $secondFontSize;
                    }
                }

                .star {
                    span {
                        font-size: $secondFontSize;

                        b {
                            color: #0098ff;
                        }
                    }

                }
            }
        }
    }
}