// ----- Hero section ----- //
.hero {
    width: 100%;
    height: auto;
    padding: 20px;
    // background-color: $darkColor;
    background: $backgroundColor;
    border-bottom: 1px solid $grayColor;



    .left {
        img {
            transform: translate(-70px, 200px);
            position: absolute;
        }

        .heading {
            width: 65%;
            background-color: #12103e;
            color: $lightColor;
            font-size: $firstFontSize;

            span:nth-child(1) {
                background: linear-gradient(90deg, #0098ff 0%, rgba(0, 152, 255, 0) 100%);
            }

            span:nth-child(2) {
                font-size: $firstFontSize - 1px;
                letter-spacing: .8px;
            }
        }

        h2 {
            @include heading;
        }

        p {
            font-size: $firstFontSize - 1px;
            color: $grayColor;
            letter-spacing: .5px;
        }

        .buttons {
            a {
                @include button;
            }

            .one {
                background: $linearColor;

                &:hover {
                    background: transparent;
                }
            }

            .two {
                color: $grayColor;

                &:hover {
                    background: $linearColor;
                    color: $lightColor;
                }
            }
        }
    }

    .right {

        img:nth-child(1) {
            position: absolute;
            right: 40%;
            top: 37%;
            animation: shape-two 4s infinite linear;
        }

        @keyframes shape-two {
            0% {
                transform: translateX(-30px);
            }

            50% {
                transform: translateX(-10px);
            }

            100% {
                transform: translateX(-30px);
            }
        }


        img:nth-child(2) {
            position: absolute;
            z-index: 1;
            right: 35%;
            bottom: 30%;
            animation: shape-three 2s ease-in-out 0s infinite alternate;
            animation-duration: 3s;
        }

        @keyframes shape-three {
            0% {
                transform: rotateX(0deg) translateY(0px);
            }

            50% {
                transform: rotateX(0deg) translateY(-20px);
            }

            100% {
                transform: rotateX(0deg) translateY(0px);
            }
        }

        img:nth-child(3) {
            position: absolute;
            right: 20%;
            top: 40%;
            animation: shape-one 10s infinite linear;
        }

        @keyframes shape-one {
            100% {
                transform: rotate(360deg);
            }
        }
    }

}

@media only screen and (max-width: 768px) {

    .hero img {
        display: none;
    }

    .hero .left .heading {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .hero .left .heading {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .hero .left h2 {
        font-size: 30px;
    }
}

// ----- Hero section ----- //

// ----- Slider section ----- //
.slider {
    // background-color: $darkColor;
    background: $backgroundColor;


    .heading {
        h2 {
            color: $lightColor;
            font-size: 35px;
        }

        a {
            @include button;
            color: $grayColor;

            &:hover {
                background: $linearColor;
                color: $lightColor;
            }
        }
    }

    .carousel {
        @include carousel;

        .title {
            a {
                color: $lightColor;
            }
        }

        .newprice {
            color: $lightColor;
        }
    }
}

// ----- Slider section ----- //

// ----- Categories section ----- //
.categories {
    .heading {
        @include heading;

        h2 {
            color: $darkColor;
            font-size: 35px;
            width: 50%;
        }
    }

    .buttons {
        a {
            width: 57%;
            @include button;
            color: $grayColor;
            padding: 10px 33px;
            font-size: 12px;

            button {
                background: transparent;
                color: $grayColor;
            }

            img {
                filter: invert(.5);
            }

            &:active {
                background: $linearColor;
            }
        }
    }

    .carousel {
        @include carousel;
    }
}

@media only screen and (max-width: 768px) {

    .categories {
        .heading {
            h2 {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {

    .categories {
        .buttons {
            a {
                width: 100%;
            }
        }
    }
}

// ----- Categories section ----- //

// ----- Subscribe section ----- //
.subscribe {
    span {
        font-size: $firstFontSize;
        background: $linearColor;
        color: $lightColor;
        opacity: 62%;
    }

    h2 {
        @include heading;
        color: $darkColor;
    }

    p {
        color: $grayColor;
        font-size: $firstFontSize;
    }

    .input-group {
        width: 75%;

        input {
            color: $grayColor;
            border: 1px solid $darkColor;
            border-radius: 0 15px;
            outline: none;

            &::placeholder {
                font-size: $secondFontSize;
            }
        }
    }

    button {
        background: $linearColor;
        font-size: $secondFontSize;
        color: $lightColor;
        border-radius: 0 15px;
    }
}

@media only screen and (max-width: 576px) {
    .subscribe {
        h2 {
            font-size: 30px;
        }

        .input-group {
            width: 100%;
        }
    }
}

// ----- Subscribe section ----- //

// ----- About-shop section ----- //
.about-shop {
    .heading {
        h2 {
            font-size: 35px;
        }

        p {
            font-size: $firstFontSize;
            color: $grayColor;
        }
    }

    .cards {
        .borders {
            border: 1px solid #7b35c8;
            border-radius: 0 17px;
            background: linear-gradient(148deg, #0198ff2e, #0000);

            h2 {
                @include textLinear;
                font-size: 41px;
            }

            h4 {
                font-size: 26px;
            }

            span {
                font-size: $firstFontSize;
                color: $grayColor;
            }
        }
    }
}

// ----- About-shop section ----- //

// ----- Products section ----- //
.products {
    .heading {
        h2 {
            font-size: 35px;
        }

        p {
            color: $grayColor;
            font-size: $firstFontSize;
        }

        a {
            @include button;
            color: $grayColor;

            &:hover {
                background: $linearColor;
                color: $lightColor;
                border: none;

                svg path {
                    fill: $lightColor;
                }
            }
        }
    }

    .carousel {
        @include carousel;
    }
}

@media only screen and (max-width: 992px) {
    .products {
        .heading {
            p {
                display: none;
            }
        }
    }
}

// ----- Products section ----- //

// ----- Testimonials section ----- //
.testimonials {
    .heading {
        h2 {
            font-size: 35px;
        }
    }

    .slider-container {
        .cards {
            border: 1px solid #7b35c8;
            border-radius: 0 15px;
            background: linear-gradient(148deg, #0198ff2e, #0000);

            h3 {
                font-size: 24px;
            }

            p {
                font-size: $secondFontSize;
            }

            .content-bottom {
                .info {
                    h6 {
                        font-size: $secondFontSize;
                    }
                }

                .star {
                    span {
                        font-size: $secondFontSize;

                        b {
                            color: #0098ff;
                        }
                    }

                }
            }
        }
    }
}

// ----- Testimonials section ----- //