@import './_variables';
@import './mixin';

// ----- Hero section ----- //
.hero {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: $darkColor;

    .left {
        img {
            transform: translate(-70px, 200px);
            position: absolute;
        }

        .heading {
            width: 65%;
            background-color: #12103e;
            color: $lightColor;
            font-size: $firstFontSize;

            span:nth-child(1) {
                background: linear-gradient(90deg, #0098ff 0%, rgba(0, 152, 255, 0) 100%);
            }

            span:nth-child(2) {
                font-size: $firstFontSize - 1px;
                letter-spacing: .8px;
            }
        }

        h2 {
            @include heading;
        }

        p {
            font-size: $firstFontSize - 1px;
            color: $grayColor;
            letter-spacing: .5px;
        }

        .buttons {
            a {
                @include button;
            }

            .one {
                background: $linearColor;

                &:hover {
                    background: transparent;
                }
            }

            .two {
                color: $grayColor;

                &:hover {
                    background: $linearColor;
                    color: $lightColor;
                }
            }
        }
    }

    .right {

        img:nth-child(1) {
            position: absolute;
            right: 40%;
            top: 37%;
            animation: shape-two 4s infinite linear;
        }

        @keyframes shape-two {
            0% {
                transform: translateX(-30px);
            }

            50% {
                transform: translateX(-10px);
            }

            100% {
                transform: translateX(-30px);
            }
        }


        img:nth-child(2) {
            position: absolute;
            z-index: 1;
            right: 35%;
            bottom: 30%;
            animation: shape-three 2s ease-in-out 0s infinite alternate;
            animation-duration: 3s;
        }

        @keyframes shape-three {
            0% {
                transform: rotateX(0deg) translateY(0px);
            }

            50% {
                transform: rotateX(0deg) translateY(-20px);
            }

            100% {
                transform: rotateX(0deg) translateY(0px);
            }
        }

        img:nth-child(3) {
            position: absolute;
            right: 20%;
            top: 40%;
            animation: shape-one 10s infinite linear;
        }

        @keyframes shape-one {
            100% {
                transform: rotate(360deg);
            }
        }
    }

}

@media only screen and (max-width: 768px) {

    .hero img {
        display: none;
    }

    .hero .left .heading {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .hero .left .heading {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .hero .left h2 {
        font-size: 30px;
    }
}

// ----- Hero section ----- //

// ----- Slider section ----- //
.slider {
    width: 100%;
    height: auto;
    background-color: $darkColor;

    .heading {
        h2 {
            color: $lightColor;
            font-size: 41px;
        }

        a {
            @include button;
            color: $grayColor;

            &:hover {
                background: $linearColor;
                color: $lightColor;
            }
        }
    }

    .carousel {
        @include carousel;
        background: linear-gradient(148deg, #0198ff2e, #0000);
    }
}

// ----- Slider section ----- //

// ----- Categories section ----- //
.categories {
    background-color: $darkColor;
    position: relative;

    .heading {

        h2 {
            @include heading;
        }

        .buttons {
            position: absolute;

            button {
                padding: 10px 33px !important;
                // background:  transparent !important;
                @include button;
            }

            a {
                opacity: 70%;
                // color: $lightColor;
            }
        }
    }

    .carousel {
        @include carousel;
        position: absolute;
        width: 100%;

        .carousel-card {
            background: linear-gradient(148deg, #0198ff2e, #0000);
            width: 280px;

            .footer{
                .price {
                    .newprice {
                        color: $darkColor;
                    }
    
                    .oldprice {
                        color: $darkColor;
                    }
                }
                a:hover{
                    background: $darkColor;
                }
            }
        }
    }
}

// ----- Categories section ----- //

// ----- Subscribe section ----- //
.subscribe {
    margin-top: 350px;

    span {
        font-size: $firstFontSize;
        background: $linearColor;
        color: $lightColor;
        opacity: 62%;
    }

    h2 {
        @include heading;
        color: $darkColor;
    }

    p {
        color: $grayColor;
        font-size: $firstFontSize;
    }

    input {
        color: $grayColor;
        border: 1px solid $darkColor;
        border-radius: 0 15px;
        outline: none;

        &::placeholder {
            font-size: $firstFontSize - 1px;
        }
    }

    button {
        background: $linearColor;
        font-size: $firstFontSize - 1px;
        color: $lightColor;
        border-radius: 0 15px;
    }
}

// ----- Subscribe section ----- //