.productdetails {
    background: $darkColor;

    .heading {
        border-bottom: 1px solid $grayColor;
        background-color: $darkColor;

        .icon {
            color: $lightColor;
        }

        span {
            font-size: $secondFontSize;
            letter-spacing: .6px;
            color: $lightColor;
        }

    }

    .details {
        .image {
            img {
                border: 1px solid;
                border-image: linear-gradient(to left, #0098ff 50%, #7b35c8) 1;
            }
        }
    }
}