$fontFamily: 'Outfit', sans-serif;
$lightColor: #fff;
$darkColor: #000;
$grayColor: #838383;
$linearColor: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
$backgroundColor: radial-gradient(circle, rgb(9, 8, 43) 18%, rgba(0, 0, 0, 1) 70%);
$firstFontSize: 14px;
$secondFontSize: 13px;




  
